<ion-app>
  <ion-menu side="start" contentId="m1">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Enduring Memories
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
        <ion-item lines="none" routerLink="/dashboard">
          <ion-icon name="analytics" slot="start"></ion-icon>
          <ion-label>Dashboard</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item lines="none" routerLink="/settings">
          <ion-icon name="options" slot="start"></ion-icon>
          <ion-label>Settings</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item lines="none" routerLink="/upload">
          <ion-icon name="cloud-upload" slot="start"></ion-icon>
          <ion-label>Upload</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item lines="none" routerLink="/upload">
          <ion-icon name="exit" slot="start"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>
      </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
    <ion-router-outlet main id="m1"></ion-router-outlet>
</ion-app>
