<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button id="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ isLogin ? 'Login' : 'Signup'}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="login-root">
  <ion-segment (ionChange)="onFilterUpdate($event)" [(ngModel)]="pet">
    <ion-segment-button value="Login">
      <ion-label>Login</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Signup">
      <ion-label>Signup</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="pet">
  <form [formGroup]="formLogin"  *ngIf="isLogin">
    <ion-grid>
        <ion-row>
          <ion-col size-md="6" offset-md="3">
              <ion-list>
                <ion-item>
                  <ion-label position="floating"><ion-icon name="person" ></ion-icon> Email </ion-label>
                  <ion-input type="email" formControlName="email" required></ion-input>
                </ion-item>
                <small class="danger ion-padding" *ngIf="isSubmitted && r.email.errors?.required">
                  Email is required.
                </small>
                <ion-item>
                  <ion-label position="floating"><ion-icon name="key"></ion-icon> Password </ion-label>
                  <ion-input type="password"  formControlName="password" required></ion-input>
                </ion-item>
                <small class="danger ion-padding" *ngIf="isSubmitted && r.password.errors?.required">
                  Password is required.
                </small>
              </ion-list>
              <ion-row class="ion-justify-content-center ion-margin-top" >
                <ion-col size="6">
                  <ion-button type="button" (click)="submitLog()" color="primary" class="person" expand="block">Login</ion-button>
                </ion-col>
              </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
  </form>

  <form [formGroup]="formSignUp" *ngIf="!isLogin">
    <ion-grid>
        <ion-row>
          <ion-col size-md="6" offset-md="3">
              <ion-list>
                <ion-item>
                  <ion-label position="floating"><ion-icon name="person" ></ion-icon> Email </ion-label>
                  <ion-input type="email" formControlName="email" name="email"></ion-input>
                </ion-item>
                <small class="danger ion-padding" *ngIf="Submitted && s.email.errors?.required">
                  Email is required.
                </small>
                <ion-item>
                  <ion-label position="floating"><ion-icon name="key"></ion-icon> Password </ion-label>
                  <ion-input type="password"  formControlName="password"></ion-input>
                </ion-item>
                <small class="danger ion-padding" *ngIf="Submitted && s.password.errors?.required">
                  Password is required.
                </small>
                <ion-item>
                  <ion-label position="floating"><ion-icon name="call"></ion-icon> Mobile </ion-label>
                  <ion-input type="text" name="mobile" formControlName="mobile"></ion-input>
                </ion-item>
                <small class="danger ion-padding" *ngIf="Submitted && s.mobile.errors?.required">
                  Mobile is required.
                </small>
              </ion-list>
              <ion-row class="ion-justify-content-center ion-margin-top" >
                <ion-col size="6">
                  <ion-button type="button" (click)="submitSign()"  color="primary" class="person" expand="block">Signup </ion-button>
                </ion-col>
              </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
   </form>
</div>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title size="small">© 2021 Copyright: Enduring Memories</ion-title>
  </ion-toolbar>
</ion-footer>
